

/*********************************************
 * GLOBAL
 *********************************************/

body, html {
	overflow: hidden;
	font-family: Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 11px;
	background: #111;
}


/*********************************************
 * HEADER
 *********************************************/

header {
	position: relative;
	width: 100%;
	height: 27px;
	margin: 0;
	padding: 0 8px 8px 8px;
	overflow: hidden;
	z-index: 5;
	
	background: #1e2121;
	color: #eee;
	
	-webkit-transition: height .22s ease-out;
	   -moz-transition: height .22s ease-out;
	     -o-transition: height .22s ease-out;
	        transition: height .22s ease-out;
}

	header.open {
		height: 165px;
	}
	
	header h1 {
		font-family: Molengo, Helvetica, Arial, sans-serif;
		float: left;
		margin-top: 1px;
	}
	
	header .header-instruction {
		float: left;
		margin: 12px 0 0 15px;
		
		font-size: 10px;
		font-style: italic;
		color: #999;
		
		-webkit-transition: opacity .18s linear;
		   -moz-transition: opacity .18s linear;
		     -o-transition: opacity .18s linear;
		        transition: opacity .18s linear;
	}
		header.open .header-instruction {
			opacity: 0;
		}
	header div.extra {
		margin: 45px 0 0 20px;
		clear: both;
		
		-webkit-transition: opacity .18s linear;
		   -moz-transition: opacity .18s linear;
		     -o-transition: opacity .18s linear;
		        transition: opacity .18s linear;
	}
		header div.extra h3 {
			margin-bottom: 10px;
		}
		header a {
			color: #19d75a;
			text-decoration: underline;
			
			-webkit-transition: all .1s ease-out;
			   -moz-transition: all .1s ease-out;
			     -o-transition: all .1s ease-out;
			        transition: all .1s ease-in;
		}
			header a:hover {
				color: #67f38f;
			}
		header section {
			height: 120px;
			padding: 0 25px;
			float: left;
			
			border-left: 1px #333 solid;
		}
		header p {
			margin-bottom: 5px;
			
			font-size: 12px;
			letter-spacing: 0.05em;
		}
		#about {
			padding-left: 0;
			border: none;
		}
		#about p.credits {
			margin: 15px 0 2px 0;
			
			font-style: italic;
			color: #666;
			font-size: 11px;
			line-height: 1.4em;
		}
		#share iframe, 
		#share div {
			display: inline-block;
		}
		#retweet-button {
			margin-right: 6px;
		}

.no-canvas {
	color: #999999;
	font-size: 24px;
	text-align: center;
	margin-top: 150px;
}


/*********************************************
 * EXPERIMENT STYLES
 *********************************************/

#wrapper {
	position: absolute;

	background: #000;
	background: url('../images/background.png') no-repeat;
	border: 1px solid #222;
	border-radius: 2px;
	
	font-size: 12px;
	color: #f4f4f4;
	cursor: default;

	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

#wrapper .controls {
	position: absolute;
	height: 20px;
	top: -32px;
	left: 0px;
	width: 100%;
	color: #999;

	font-size: 12px;
}
	#wrapper .controls .instructions {
		display: block;
		position: absolute;
		right: 0;
		padding: 6px 4px;
		opacity: 0;

		-webkit-transition: all .12s ease;
		   -moz-transition: all .12s ease;
		    -ms-transition: all .12s ease;
		     -o-transition: all .12s ease;
		        transition: all .12s ease;
	}
		#wrapper.empty .controls .instructions {
			opacity: 1;
		}

	#wrapper .controls .options {
		position: absolute;
		right: 0px;
		opacity: 1;

		-webkit-transition: all .12s ease;
		   -moz-transition: all .12s ease;
		    -ms-transition: all .12s ease;
		     -o-transition: all .12s ease;
		        transition: all .12s ease;
	}
		#wrapper.empty .controls .options {
			opacity: 0;
		}

	#wrapper .controls .options .key-label {
		margin-right: 5px;
		font-size: 12px;
	}

	#wrapper .controls button {
		padding: 4px 6px;

		color: #999;
		background: rgba( 255, 255, 255, 0.05 );
		opacity: 1;
		border: none;
		border-radius: 2px;
		cursor: pointer;
		font-size: 12px;
		margin-left: 12px;

		-webkit-transition: all .12s ease;
		   -moz-transition: all .12s ease;
		    -ms-transition: all .12s ease;
		     -o-transition: all .12s ease;
		        transition: all .12s ease;
	}
		#wrapper .controls button:hover {
			opacity: 1;
			color: #fff;
			background: rgba( 255, 255, 255, 0.2 );
		}

	#wrapper .controls .url {
		opacity: 0;
		-webkit-transition: all .12s ease;
		   -moz-transition: all .12s ease;
		    -ms-transition: all .12s ease;
		     -o-transition: all .12s ease;
		        transition: all .12s ease;
	}
	#wrapper .controls .url.show {
		opacity: 1;
	}

	/* SEQUENCER */
	#wrapper .controls .sequencer {
		position: absolute;
		left: 0;
		background: #222;
		box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
		border-radius: 2px;
	}
		#wrapper .controls .sequencer li {
			display: inline-block;
			padding: 6px;
			width: 90px;
			text-align: center;
		}
			#wrapper .controls .sequencer li+li {
				border-left: 1px solid #333;
			}

	#wrapper .controls .sequencer-input {
		display: none;
		position: absolute;
		left: 0;
		border-radius: 2px;
		margin-top: 4px;

		background: #222;
	}
		#wrapper .controls .sequencer-input.open {
			display: block;
		}

		#wrapper .controls .sequencer-input li {
			padding: 6px;
		}

#wrapper canvas {
	position: absolute;
	top: 0;
	left: 0;
}
